{
  "root": true,
  "extends": ["eslint:recommended", "plugin:jest/recommended", "plugin:jest/style", "prettier"],
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "comma-dangle": "off",
    "func-names": ["error", "as-needed"],
    "no-shadow": "error",
    "prefer-const": 0,
    "class-methods-use-this": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "packageDir": ["./packages/cli/", "./packages/log-handler/", "./"],
        "devDependencies": ["./webpack.config.js", "./test/*.ts", "./test/**/*.ts"]
      }
    ]
  }
}
